{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}" />
  {% block css_files %}
  {% endblock %}
  
</head>
<body>
  <header id="main-navigation">
    <h1><a href="{% url "starting-page" %}">mohammad Blog</a></h1>

    <nav>
      <a href="{% url 'read-later' %}">Stored Posts</a>
      <a href="{% url 'posts-page' %}">All Posts</a>
      {% if user.is_authenticated %} 
      <a href="{% url 'profile' %}">Profile</a>
      <form id="frm_logout" method="post" action="{% url 'logout' %}">     
        {% csrf_token %}     
        <a  href="javascript:$('#frm_logout').submit();" >logout</a> 
      </form>
    
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  {% if messages %}
  {% for message in messages %}
  <div id="alert">
  <p>{{ message }}</p>
  </div>
  {% endfor %}
  {% endif%}
 
    
    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>